body{
    margin: 0;
}

header{
   background: #1787c7;
   text-align:center;

}
.logo{
        color: #000;
        font-family:'Anton';
        text-align: 'center';
        font-size: 40px;

}

header input{
    font-size:20px ;
    margin: 20px 0;
}